@font-face {
	font-family: 'iconfont';
	src: url('~@/assets/font/iconfont.eot?t=1575106239481');
	src: url('~@/assets/font/iconfont.woff?t=1575106239481') format('woff');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sheji:before {
  content: "\e612";
}

.icon-graphcool:before {
  content: "\e643";
}

.icon-zhinan:before {
  content: "\e667";
}

.icon-_qianduankaifa:before {
  content: "\e606";
}

.icon-_houduankaifa:before {
  content: "\e610";
}

.icon-php:before {
  content: "\e72c";
}



.font-weight {
	font-weight: 600;
}
//字号
.font30 {
	font-size: 30px;
}
.font18 {
	font-size: 18px;
}
